<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <title>{{ .title }}</title>

</head>

<body>

    <div>
        <div class="Score">{{ .NumberofAnswers }}/10
        </div>
    </div>

    <!-- <form action="/Ending" method="post">
        <button class="End" type="submit" name="END" value="END">結束</button>
    </form> -->
    
</body>


</html>